@model Library_web.Models.DTO.addAuthorDTO
<form asp-controller="Author" asp-action="addAuthor" method="POST">
    <label>Full name</label>
    <input asp-for="FullName" />
    <button type="submit">Save</button>
</form>
