@model Library_web.Models.DTO.publisherDTO
<form asp-controller="Publisher" asp-action="EditPublisher" method="POST">
    <label>Name</label>
    <input asp-for="Name" />
    <button type="submit">Save</button>
</form>
